<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <httpRedirect enabled="false" destination="./index.html" exactDestination="true" />
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <caching>
            <profiles>
                <add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:01:00" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".bmp" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".mp4" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" />
                <add extension=".webm" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" />
                <add extension=".webp" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
