.container {
  display: flex;
  flex-direction: row;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imageItem {
  margin: 10px;
  cursor: pointer;
  position: relative;
  .box {
    position: absolute;
    border: 1px solid #fff022;
  }
  :hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
  }
  .spot {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background-color: #e23;
    color: #fff;
    border-radius: 50%;
  }
}
.tool {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
