@import '../../global.less';

.container {
  display: flex;
  flex-direction: row;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.center {
  text-align: center;
}

.imageItem {
  margin: 10px;
  overflow: hidden;
  .img {
    height: 100%;
    background-color: #ddd;
  }
  .act {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(17, 17, 17, 0.7);
    cursor: pointer;
    top: calc(50% - 15px);
    z-index: 10;
    line-height: 30px;
    font-size: 20px;
    color: rgb(194, 194, 194);
    text-align: center;
  }
  .detail {
    cursor: pointer;
    position: relative;
    // z-index: 0;
    // transform: scale(1) translateX(0px);
    .box {
      position: absolute;
      border: 1px solid #fff022;
      transform: scale(1.2);
    }
    .box2 {
      position: absolute;
      border: 1px solid #22ff64;
      transform: scale(1.2);
    }
    // &:hover {
    //   z-index: 2;
    //   transform: scale(1.2) translateX(22px);
    //   transition: transform 0.3s;
    //   transition-timing-function: ease-in-out;
    // }

    .spot {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 24px;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      background-color: #e23;
      color: #fff;
      border-radius: 50%;
    }
  }
}
.tool {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
