.head {
  .main {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    .item {
      display: flex;
      flex-direction: row;
    }
  }
  .action {
    display: flex;
    justify-content: flex-end;
  }
}

.detail {
  display: flex;
  flex-wrap: wrap;
}

.result {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-wrap: wrap;
    .title {
      display: block;
      width: 100%;
      margin-left: 10px;
      font-size: 18px;

      span {
        padding: 0 10px;
        border-bottom: 1px solid #e23;
      }
    }
  }
  .detail {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
}

.imageItem {
  margin: 10px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: row;
  .detail {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .box {
      position: absolute;
      border: 1px solid #fff022;
      transform: scale(1.2);
    }
    .img {
      height: 100%;
      background-color: #ddd;
    }
  }
  .others {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    :global {
      .ant-btn {
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }
  .tools {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    line-height: 30px;
  }
  .dotBg {
    position: absolute;
    color: #fff;
    z-index: 1;
    padding: 0 3px;
    height: 20px;
    text-align: center;
  }

  .dotLeftBottom {
    left: 0;
    bottom: 0;
    background: #e23;
    .dotBg;
  }
}

.menuItem {
  height: 25px;
  line-height: 25px;
  &:hover {
    color: #1890ff;
    background-color: #e6f7ff;
  }
}

.toolContainer {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  font-size: 16px;
  position: fixed;
  right: 5px;
  top: 220px;
  z-index: 2;
  background: #fff;
  border: 1px solid #1890ff;
  border-radius: 5px;
  // overflow: hidden;
  width: 160px;
  text-align: center;
  .highlight {
    color: #1890ff;
    font-weight: bold;
    margin-right: 5px;
  }
}
